ClienteItaliaPizza/Connected Services/Servicio/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoBD2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoBD2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="tns:Empleado" />
      <xs:element minOccurs="0" name="IdCuentaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaUsuario" nillable="true" type="tns:CuentaUsuario" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaUsuario" nillable="true" type="tns:CuentaUsuario" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>