ClienteItaliaPizza/Connected Services/Servicio/ServicioPizzaItaliana.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioPizzaItaliana" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioPizzaItaliana_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoBD2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPizzaItaliana_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioPizzaItaliana_CerrarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioPizzaItaliana_GuardarCuentaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCuentaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioPizzaItaliana_ModificarCuentaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCuentaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioPizzaItaliana_Respuesta_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Respuesta" />
  </wsdl:message>
  <wsdl:message name="IServicioPizzaItaliana_DevuelveCuenta_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DevuelveCuenta" />
  </wsdl:message>
  <wsdl:portType name="IServicioPizzaItaliana">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/IniciarSesion" message="tns:IServicioPizzaItaliana_IniciarSesion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/CerrarSesion" message="tns:IServicioPizzaItaliana_CerrarSesion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCuentaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/GuardarCuentaUsuario" message="tns:IServicioPizzaItaliana_GuardarCuentaUsuario_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCuentaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/ModificarCuentaUsuario" message="tns:IServicioPizzaItaliana_ModificarCuentaUsuario_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Respuesta">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/Respuesta" message="tns:IServicioPizzaItaliana_Respuesta_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevuelveCuenta">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPizzaItaliana/DevuelveCuenta" message="tns:IServicioPizzaItaliana_DevuelveCuenta_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioPizzaItaliana" type="tns:IServicioPizzaItaliana">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioPizzaItaliana_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/CerrarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GuardarCuentaUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/GuardarCuentaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ModificarCuentaUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/ModificarCuentaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Respuesta">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/Respuesta" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevuelveCuenta">
      <soap12:operation soapAction="http://tempuri.org/IServicioPizzaItaliana/DevuelveCuenta" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPizzaItaliana">
    <wsdl:port name="NetTcpBinding_IServicioPizzaItaliana" binding="tns:NetTcpBinding_IServicioPizzaItaliana">
      <soap12:address location="net.tcp://localhost:8090/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/CalculatorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>